<ion-view title="登陆" hide-nav-bar="true">
	<ion-header-bar>
		<h1 class="title">登陆</h1>
		<ion-nav-button class="button icon-right ion-ios7-arrow-right button-clear button-dark">注册</ion-nav-button>
		<!-- <div class="buttons"> -->
			<!-- <button class="" ng-click="regAccount()">注册</button> -->
			<!-- <a class="button icon-right ion-chevron-right button-clear button-dark">注册</a> -->

		<!-- </div> -->
	</ion-header-bar>
	<ion-content>
		<ion-nav-view name="login-form"></ion-nav-view>
	</ion-content>
</ion-view>