<ion-view title="设置" hide-nav-bar="true">
    <ion-header-bar class="bar-dark" align-title="left">
        <h1 class="title">
            moBay(试用版)
        </h1>
        <div class="buttons">
            <button class="button button-outline button-small icon-left ion-email">意见反馈</button>
        </div>
    </ion-header-bar>

    <ion-content class="padding-top stable-bg">
        <div class="list">
            <div class="item item-divider">
                订阅项
            </div>
            <ion-toggle ng-model="model1" toggle-class="toggle-positive" class="item">活动</ion-toggle>
            <ion-toggle ng-model="model2" toggle-class="toggle-positive" class="item">资讯</ion-toggle>
            <ion-toggle ng-model="model3" toggle-class="toggle-positive" class="item">优惠</ion-toggle>
        </div>
        <div class="list">
            <div class="item item-divider">
                安全
            </div>
            <a class="item item-icon-right" href="#">
                退出登录
                <i class="icon ion-ios7-upload-outline rotate-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                重置密码
                <i class="icon ion-ios7-reload"></i>
            </a>
        </div>
        <div class="list">
            <div class="item item-divider">
                关于
            </div>
            <div class="item item-icon-right">
                功能
                <i class="icon ion-navicon"></i>
            </div>
            <div class="item">
                版本
                <span class="item-note">v0.0.1</span>
            </div>
            <div class="item item-icon-right stable-bg assertive">
                服务协议
                <i class="icon ion-ios7-paper-outline"></i>
            </div>
        </div>
    </ion-content>
</ion-view>