<ion-view title="Notifications" hide-nav-bar="true">
	<ion-header-bar class="bar-dark">
        <h1 class="title">
            消息
        </h1>
    </ion-header-bar>

	<ion-content class="stable-bg">
		<ion-list>
			<ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/notification/{{friend.id}}" class="item-thumbnail-left">
				<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDts5TfpUl1ueJFvwCZx1jvZMain_yk5eVP0zTXTxDH2v-OVc_" alt="">
				<h2>{{friend.name}}</h2>
				<p>文章描述</p>
				<small>2014年11月08日17:38:06</small>
				</ion-item>
		</ion-list>
	</ion-content>
</ion-view>
