<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.arrking.mobay" version="0.0.2" ios-CFBundleVersion="201411221623" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>moBay</name>
  <description>
      Mobilb Bay, show real time matrix for Cafe, Bar, Salon, etc.
  </description>
  <author email="mobay@arrking.com" href="http://mobay.arrking.com">
    Hai Liang Wang, Jian Fei Zhao, Kang Xin Yang
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AutoHideSplashScreen" value="false" />
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>
