<ion-view id='about-app' hide-nav-bar="true">
	<!-- http://ionicframework.com/docs/api/directive/ionSlideBox/ -->
	<ion-slide-box >
		<ion-slide>
			<ion-scroll>
				<div class="box blue">
					<h1>应用介绍1</h1>
				</div>
			</ion-scroll>
		</ion-slide>
		<ion-slide>
			<ion-scroll>
				<div class="box yellow">
					<h1>应用介绍2</h1>
				</div>
			</ion-scroll>
		</ion-slide>
		<ion-slide>
			<ion-scroll>
				<div class="box pink">
					<h1>应用介绍3</h1>
				</div>
				<button class="button button-block button-positive" ng-click="backToSettings()">
				  返回
				</button>
			</ion-scroll>
		</ion-slide>
	</ion-slide-box>
</ion-view>