<ion-view id='about-app' hide-nav-bar="true">
	<!-- http://ionicframework.com/docs/api/directive/ionSlideBox/ -->
	<ion-slide-box >
		<ion-slide>
			<ion-scroll>
				<div class="box list card">
					<div class="item item-avatar">
					<img src="images/about-app-1.jpg">
					<h2>莫辞更坐弹一曲，</h2>
					<p>为君翻作琵琶行。</p>
					</div>
					<div class="item item-icon-left assertive">
						<i class="icon ion-ios7-people"> </i>
						相逢便是缘分
					</div>
					<div class="item item-image">
						<img src="images/about-app-2.jpg">
					</div>
				</div>
			</ion-scroll>
		</ion-slide>
		<ion-slide>
			<ion-scroll>
			  	<div class="bar bar-header bar-light">
				  	<h1 class="title">简单、快捷的商家服务</h1>
				</div>
			   	<embed src="images/icon-cloud-based.svg" style="padding-top:150px; margin-left:auto; margin-right: auto;" type="image/svg+xml" />
			</ion-scroll>
		</ion-slide>
		<ion-slide>
			<ion-scroll>
			  	<div class="bar bar-header bar-light">
				  	<h1 class="title">你若盛开，蝴蝶自来。</h1>
				</div>
			   	<embed src="images/icon-accurate.svg" style="padding-top:150px; margin-left:auto; margin-right: auto;" type="image/svg+xml" />
				<button class="button button-block button-positive" ng-click="backToSettings()">
				  返回
				</button>
			</ion-scroll>
		</ion-slide>
	</ion-slide-box>
</ion-view>