<ion-side-menus>
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark">
      <a class="button button-icon icon ion-chevron-left" ng-click="goBackToDashHome()"></a>
      <h1 class="title">点餐</h1>
      <div class="buttons">
        <button class="button button-icon ion-navicon" menu-toggle="right"></button>
      </div>
    </ion-nav-bar>
    <ion-view>
      <ion-content id="order" style="bottom: 0px;">
        <h1 class="title order-title stable-bg">{{selected}}</h1>
        <ion-list>
          <ion-item class="item-thumbnail-left" ng-repeat="item in submenu">
            <!-- #TODO:image url -->
            <img src="http://i3.meishichina.com/attachment/recipe/2012/12/17/20121217160924724755949.jpg">
            <h2>
              <span>{{item.name}}</span>
              <span class="balanced-bg stable ml5 pl5 pr5" ng-click="popupSelect(this)" ng-if="item.subclass && item.subclass.length > 0">
                <span>{{item.current.type}}</span>
                <i class="icon ion-arrow-down-b ml5"></i>
              </span>
            </h2>
            <p>￥{{item.price}} / {{item.unit}}</p>
            <ion-item class="item-icon-left item-icon-right tac assertive order-bar stable-bg">
              <i class="icon ion-ios7-minus" ng-click="countMinus(item)"></i>
              <strong ng-class="!item.count || item.count == 0 ? 'gray' : ''">{{item.count || 0}}</strong>
              <i class="icon ion-ios7-plus" ng-click="countPlus(item)"></i>
            </ion-item>
          </ion-item>
        </ion-list>
      </ion-content>
      <ion-footer-bar align-title="middle" class="bar-positive" style="bottom: 0px;">
        <div class="buttons">
          <button class="button" ng-click="modal.show()">已点</button>
        </div>
        <h1 class="title">{{cost | currency: "￥"}}</h1>
        <div class="buttons" ng-click="placeOrder()">
          <button class="button">下单</button>
        </div>
      </ion-footer-bar>
    </ion-view>
  </ion-side-menu-content>
  <ion-side-menu side="right" width="240">
    <ion-header-bar class="bar-positive">
      <h1 class="title">分类</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item class="item item-icon-left positive {{selected==category?'stable-bg':''}}" ng-repeat="(category,submenu) in menu" menu-close ng-click="changeSelected()">
          <i class="icon ion-ios7-arrow-left positive" ng-if="category==selected"></i>
          {{category}}
          <span class="badge badge-positive">{{submenu.length}}</span>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>