<ion-view title="忘记密码" hide-nav-bar="true">
	<ion-header-bar>
		<h1 class="title">移动港湾</h1>
		<ion-nav-button class="button icon-right ion-ios7-arrow-right button-clear button-dark" ui-sref="login-form">登录</ion-nav-button>
	</ion-header-bar>
	<ion-content>
		<div class="bar bar-error bar-energized" ng-if="errMessage" ng-bind="errMessage"></div>
		<div ng-class="{'has-error': errMessage}">
			<div class="list">
		        <label class="item item-input">
		          <span class="input-label">邮箱</span>
		          <!-- TODO validate email, password, username in place -->
		          <!-- for email, should be highly noticed at 
			        Input type email doesn't update the model unless the email passes validation
					https://github.com/driftyco/ionic/issues/1406
		          -->
		          <!-- <input type="email" ng-model="data.email"> -->
		          <input type="text" ng-model="data.email" autocapitalize="off" autocorrect="off" autocomplete="off" ng-change="validate()">
		        </label>
		        <label class="item item-input">
		          <span class="input-label">新密码</span>
		          <input type="password" ng-model="data.password" placeholder="6位数字和字母组成的新密码" ng-change="validate()">
		        </label>
		    </div>
			<div class="padding">
				<button ng-if="enableSubmitBtn" class="button button-block button-balanced" ng-click="doResetPwd()"> 确定 </button>
				<button ng-if="!enableSubmitBtn" class="button button-block button-balanced disabled" disabled> 确定 </button>
			</div>
		</div>
	</ion-content>
</ion-view>