<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-dark">
      <h1 class="title">个人信息</h1>
      <a class="button button-icon icon ion-ios7-close-outline" ng-click="closePeopleDetailModal()"></a>
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item">
                <h2>{{candidate.displayName}}</h2>
                <p>{{candidate.status}}</p>
            </div>


                <div class="item item-image">
                <img ng-src="{{candidate.picture}}">
  </div>
            <div class="item item-icon-left balanced">
                <i class="icon ion-university"></i>
                学校：{{candidate.edu}}
            </div>              
            <div class="item item-icon-left balanced">
                <i class="icon ion-briefcase"></i>
                单位／公司：{{candidate.company}}
            </div>            
            <div class="item item-icon-left balanced">
                <i class="icon ion-android-contact"></i>
                兴趣：{{candidate.profile.interests}}
            </div>
        </div>
    </ion-content>
</ion-modal-view>