<ion-view title="圈子" hide-nav-bar="true">
    <ion-header-bar class="bar-dark">
        <div class="button-bar button-small" style="margin:0 60px;">
            <a class="button button-outline" href="#/tab/dash">地图</a>
            <a class="button button-light" href="#/tab/dash/people">圈子</a>
        </div>
    </ion-header-bar>
    <ion-content class="stable-bg">
        <ion-list>
            <ion-item class="item-avatar item-icon-right" ng-repeat="item in people" href="#/tab/dash/people/0">
                <img src="http://ionicframework.com/img/docs/venkman.jpg">
                <h2>{{item.name}}</h2>
                <p>Back off, man. I'm a scientist.</p>
                <i class="icon ion-ios7-arrow-right dark"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
