<ion-view title="{{title}}" style="background: #292D30;" class="hide-tabs">
    <ion-content has-header="true" style="background: #ffffff;">
    	<div class="list list-inset">
			<label class="item item-input">
				<i class="icon ion-key placeholder-icon"></i>
				<input type="password" ng-model="data.newPwd" placeholder="6位数字和字母组成的新密码" ng-change="validate()">
			</label>
			<label class="item">
				<button ng-if="enableSubmitBtn" class="button button-block button-balanced" ng-click="postNewPassword()"> 确定 </button>
				<button ng-if="!enableSubmitBtn" class="button button-block button-balanced disabled" disabled> 确定 </button>
			</label>
		</div>
    </ion-content>
</ion-view>