<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-dark">
    	<button class="button button-icon icon ion-navicon"></button>
        <div class="button-bar button-small" id="headerTab">
            <a class="button button-light" href="#/tab/dash">地图</a>
            <a class="button button-outline" href="#/tab/dash/people">圈子</a>
        </div>
    </ion-header-bar>
    <ion-content class="stable-bg padding-top" scroll="false">
        <div id="las-map" style="position:absolute; top:0; bottom:0; width:100%;">
        </div>
    </ion-content>
</ion-view>
