<ion-view hide-nav-bar="true">
<ion-header-bar class="bar-dark">
<div class="buttons">
  <button class="button button-clear button-icon icon ion-grid" ng-show='dashHeaderLeftBtn'></button>
</div>
<h1 class="title">
  Hello World Cafe
</h1>
<div class="buttons">
  <button class="button button-clear button-icon icon ion-radio-waves" ng-show='dashHeaderRightBtn' ng-click='stopSharingLocationDialog()'></button>
</div>
</ion-header-bar>
<ion-content class="stable-bg padding-top" scroll="true" >
  <div class="item-image assertive" style="text-align:center;">
    <img src="images/locate-in.png" ng-click="scanQRCode()">
    <p>扫二维码</p>
  </div>
  <div class="item-image" >
    <img src="images/hw-ad.png">
  </div>
  <div class="grid-menu">
    <table>
      <tbody>
        <tr>
          <td colspan="2">
            <a ui-sref="tab.dash-map"><i class="mobay_icon icon_earth"></i>地图</a>          
          </td>
        </tr>
        <tr>
          <td>
            <a ui-sref="tab.dash-history"><i class="mobay_icon icon_record"></i>点餐记录</a>          
          </td>
          <td>
            <a href="#/dash"><i class="mobay_icon icon_card"></i>会员卡</a>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p><i class="mobay_icon icon_edit"></i>Hello World Cafe<a ui-sref="tab.dash-order" class="btn-order">点餐</a></p>          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 <!--  <button class="button button-full icon-left ion-android-earth button-assertive" ui-sref='tab.dash-map'>
    地图
  </button>
  <button class="button button-full icon-left ion-social-buffer-outline button-assertive" ui-sref='tab.dash-order'>
    点餐
  </button> -->
<!--   
  <button class="button button-full icon-left ion-card button-assertive">
    会员卡
  </button> -->
</ion-content>
</ion-view>
