<ion-view title="个人信息" hide-nav-bar="true">
    <ion-header-bar class="bar-dark">
        <h1 class="title" ng-bind='title'>
        </h1>
    </ion-header-bar>

    <ion-content class="padding-top stable-bg">
        <div id="profile-bg"></div>
        <div id="content">
            <div id="profile-info">
              <img id="profile-image" ng-src='{{avatarUrl}}' ng-click="takePhotoActionSheet()">
              <button class="button button-clear button-balanced icon ion-ios7-camera-outline" ng-click="takePhotoActionSheet()"></button>
              <h3 id="profile-name">{{name}}</h3>
            </div>
            <ion-list>
                <ion-item class="item-icon-right assertive">
                    邮箱
                    <span class="item-note">{{email}}</span>
                    <i class="icon ion-ios7-email-outline"></i>
                </ion-item>
                <ion-item class="item-icon-right" ui-sref="tab.profile-editor({key: 'school', value: school})">
                    学校
                    <span class="item-note">{{school}}</span>
                    <i class="icon ion-ios7-arrow-right dark"></i>
                </ion-item>
                <ion-item class="item-icon-right" ui-sref="tab.profile-editor({key: 'company', value: company})">
                    公司
                    <span class="item-note">{{company}}</span>
                    <i class="icon ion-ios7-arrow-right dark"></i>
                </ion-item>
                <ion-item class="item-icon-right" ui-sref="tab.profile-editor({key: 'interests', value: interests})">
                    兴趣
                    <span class="item-note">{{interests}}</span>
                    <i class="icon ion-ios7-arrow-right dark"></i>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>
