<ion-view hide-nav-bar="true">
    <ion-header-bar class="bar-dark">
    	<button class="button button-icon icon ion-navicon"></button>
        <h1 class="title">
            Hello World Cafe
        </h1>
    </ion-header-bar>
    <ion-content class="stable-bg padding-top" scroll="false">
        <div class="row">
          <div class="col">
            <button class="button button-block button-balanced" ng-click='scanQRCode()'>扫二维码</button>
          </div>          
          <div class="col">
            <button class="button button-block button-balanced" ng-click='openMapView()'>地图</button>
          </div>
          <div class="col">
            <button class="button button-block button-balanced" ng-click='openPeopleView()'>圈子</button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="button button-block button-balanced" ng-click='incoming()'>点餐</button>
          </div>          
          <div class="col">
            <button class="button button-block button-balanced" ng-click='incoming()'>点餐记录</button>
          </div>
          <div class="col">
            <button class="button button-block button-balanced" ng-click='incoming()'>会员卡</button>
          </div>
        </div>
    </ion-content>
</ion-view>
