<ion-view title="设置" hide-nav-bar="true">
    <ion-header-bar class="bar-dark" align-title="left">
        <h1 class="title" ng-bind='title'>
            
        </h1>
    </ion-header-bar>

    <ion-content class="padding-top stable-bg">
        <div class="list">
            <div class="item item-divider">
                订阅项
            </div>
            <ion-toggle 
                    ng-model="subscriptions.promotion.checked" 
                    ng-checked="subscriptions.promotion.checked"
                    toggle-class="toggle-positive" 
                    ng-change="changeSubscriptions('promotion', subscriptions.promotion.checked)"
                    class="item">
                {{ subscriptions.promotion.text }}
            </ion-toggle>
            <ion-toggle 
                    ng-model="subscriptions.itnews.checked" 
                    ng-checked="subscriptions.itnews.checked"
                    toggle-class="toggle-positive" 
                    ng-change="changeSubscriptions('itnews', subscriptions.itnews.checked)"
                    class="item">
                {{ subscriptions.itnews.text }}
            </ion-toggle>
            <ion-toggle 
                    ng-model="subscriptions.activity.checked" 
                    ng-checked="subscriptions.activity.checked"
                    toggle-class="toggle-positive" 
                    ng-change="changeSubscriptions('activity', subscriptions.activity.checked)"
                    class="item">
                {{ subscriptions.activity.text }}
            </ion-toggle>

        </div>
        <div class="list">
            <div class="item item-divider">
                安全
            </div>
            <a class="item item-icon-right" href="#">
                退出登录
                <i class="icon ion-ios7-upload-outline rotate-right"></i>
            </a>
            <a class="item item-icon-right" href="#">
                重置密码
                <i class="icon ion-ios7-reload"></i>
            </a>
        </div>
        <div class="list">
            <div class="item item-divider">
                关于
            </div>
            <div class="item item-icon-right">
                功能
                <i class="icon ion-navicon"></i>
            </div>
            <div class="item">
                版本
                <span class="item-note" ng-bind="appVersion"></span>
            </div>
            <!-- http://ionicframework.com/docs/api/directive/onTap/ -->
            <div class="item item-icon-right" on-tap="openFeedbackMailTemplate()">
                用户反馈
                <i class="icon ion-paper-airplane"></i>
            </div>
            <a class="item item-icon-right stable-bg assertive" href="#/tab/settings/terms">
                服务协议
                <i class="icon ion-ios7-paper-outline"></i>
            </a>

        </div>
    </ion-content>
</ion-view>